body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: sans-serif;
}

.box {
    display: none;
    width: 450px;
    box-sizing: border-box;
    padding: 30px 20px;
    background-color: #424242;
    color: #e0dff4;
    border-radius: 0 0 5px 5px;
    flex-direction: column;

    h1 {
        font-size: 1.4rem;
        margin: 0 0 30px 0 ;
    }
    
    span {
        margin-bottom: 5px;
    }
    
    input,
    select,
    textarea {
        margin-bottom: 10px;
        border-radius: 3px;
        outline: none;
        padding: 5px 10px;
    }
    
    button {
        padding: 10px 15px;
        border-radius: 3px;
        background-color: #63ffc4;
        color: black;
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 1.2rem;
        transition: 0.3s all;
    }
    
    button:hover {
        background-color: #63ffa4;
    }
    
    #message-save,
    #message-low-price {
        font-size: 0.8rem;
        color: #ec6969
    }
    
    .text-bold {
        color: #f1a28b
    }
    
    div {
        display: flex;
        gap: 10px;
    }
    
    div input {
        flex-grow: 1;
    }
}

.box.active {
    display: flex;
}

#navegacao {
    display: flex;
    width: 450px;
    background-color: #8b8b8b;
    border-radius: 5px 5px 0 0;

    button {
        border: none;
        background-color: transparent;
        color: #e0dff4;
        padding: 15px 0;
        flex-grow: 1;
        font-size: 1.3rem;
        border-radius: 5px 5px 0 0;
        transition: 0.3s all;
        cursor: pointer;
    }
    
    button.active {
        background-color: #424242;
    }
    
    button:hover {
        filter: brightness(1.1);
    }
}