body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#box {
    border-radius: 5px;
    border: 1px solid #bebebe;
    padding: 30px 50px;
    box-shadow: 2px 2px 5px black;
    background-color: #f5f5f5;
}

#box #button-container {
    display: flex;
    justify-content: space-around;
    min-width: 230px;
}

#box button {
    height: 35px;
    width: 100px;
    background-color: #e97b7b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

#box #cron {
    font-family: monospace;
    font-size: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #585858;
}

#box li {
    font-family: sans-serif;
    list-style: none;
    color: #797979;
    font-size: 0.9rem;
}

#box li .highlight {
    color: #5e3333;
    font-size: 1.1rem;
}