body {
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #c9c9c9;
}

#box {
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    background-color: #323232;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    color: white;
}

#box.large {
    width: 400px;
}

#box span {
    margin-bottom: 5px;
}

#box .text {
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f3d188;
    padding: 10px 20px;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    transition: 0.3s all;
    cursor: pointer;
}

.button:hover {
    filter: brightness(1.3);
}

#box .error {
    color: red;
}