#box {
    width: 300px;
    border: 1px solid black;
    background-color: #323232;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
}

#box #title {
    display: flex;
    margin: 5px 1px 20px 0px;
    border: 1px solid white;
    background-color: #a0a0a0;
    color: black;
    padding: 5px 15px;
    justify-content: center;
}

#box #content {
    color: white;
    margin-bottom: 20px;
}