@import "../helpers/css/common.css";
@import "../helpers/css/toast.css";
@import "../helpers/css/modal.css";

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

table th {
    background-color: #007bff;
    color: white;
}

table tr {
    transition: 0.3s all;
}

table tr:nth-child(even) {
    background-color: #ededed;
}

table tr:hover {
    background-color: #007bff0f;
}

#submission-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#submission-form label {
    font-weight: bold;
}

#submission-form input[type="file"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#submission-form button {
    align-self: flex-end;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submission-form button:hover {
    background-color: #218838;
}

#submission-form button:active {
    background-color: #1e7e34;
}

#frame {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}