body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: sans-serif;
}

#navegacao {
    display: flex;
    justify-content: space-around;
    width: 400px;
    border-radius: 5px 5px 0 0;
    background-color: #424242E0;

    button {
        background-color: transparent;
        color: #e0dff4;
        font-weight: bold;
        font-size: 1.2rem;
        border: none;
        padding: 15px 0;
        flex-grow: 1;
        transition: 0.3s background;
        cursor: pointer;
        border-radius: 5px 5px 0 0;
    }

    button:hover {
        background-color: #42424280;
    }

    button.active {
        background-color: #424242;
    }
}

.box {
    display: none;
    width: 400px;
    padding: 30px 20px;
    box-sizing: border-box;
    background-color: #424242;
    color: #e0dff4;
    border-radius: 0 0 5px 5px;
    flex-direction: column;
    
    h1 {
        font-size: 1.4rem;
        margin: 0 0 30px 0 ;
    }
    
    span {
        margin-bottom: 5px;
    }
    
    input,
    select,
    textarea {
        margin-bottom: 10px;
        border-radius: 3px;
        outline: none;
        padding: 5px 10px;
    }
    
    button {
        padding: 10px 15px;
        border-radius: 3px;
        background-color: #63ffc4;
        color: black;
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 1.2rem;
        transition: 0.3s all;
    }
    
    button:hover {
        background-color: #63ffa4;
    }
    
    #message-save,
    #message-low-price {
        font-size: 0.8rem;
        color: #ec6969
    }
    
    .text-bold {
        color: #f1a28b
    }
    
    div {
        display: flex;
        gap: 10px;
    }
    
    div input {
        flex-grow: 1;
    }

    table {
        tr:nth-child(even) {
            background-color: #ffffff14;
        }

        td {
            padding: 3px 10px;
        }
    }
}

.box.active {
    display: flex;
}
