#container {
    background-color: #275f27;
    font-family: sans-serif;
    color: white;
    width: 300px;
    height: 500px;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0px 0px 3px black;

}

#menu {
    display: flex;
    flex-direction: column;
}

#menu.hidden {
    display: none;
}

.item {
    cursor: pointer;
    width: 100%;
    padding: 15px 25px;
    display: flex;
    box-sizing: border-box;
    transition: 0.3s all;
}

.item:hover {
    background-color: #00000050;
}

#sub-menu .group.active {
    display: flex;
}

#sub-menu .group {
    display: none;
    flex-direction: column;
}