@import "toast.css";

body {
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #c9c9c9;
}

header {
    width: 100%;
    background-color: #323232;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}

header a {
    margin-right: 30px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s all;
}

header a:hover {
    color: #f3d188;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#box {
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    background-color: #323232;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    color: white;
}

#box span {
    margin-bottom: 5px;
}

#box .text {
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 3px;
}

#box .button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f3d188;
    padding: 10px 20px;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    transition: 0.3s all;
    cursor: pointer;
}

#box .button:hover {
    filter: brightness(1.3);
}

#box .error {
    color: red;
}

#box #signup a {
    color: #f3d188a0;
    text-decoration: none;
    transition: 0.3s all;
    margin-left: 5px;
}

#box #signup a:hover {
    color: #f3d188;
}

.toast {
    position: fixed;
    bottom: 0;
    margin: auto;
    background-color: #323232;
    color: white;
    padding: 15px 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.7rem;
}