@import "toast.css";

body {
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    background-color: #c9c9c9;
}

header {
    width: 100%;
    background-color: #323232;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;

    a {
        margin-right: 30px;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
        transition: 0.3s all;
        
        &:hover {
            color: #f3d188;
        }
    }
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    #notes-list {
        width: 400px;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.235);
        box-sizing: border-box;
        background-color: #fff;
        list-style: none;
        max-height: 400px;
        overflow-y: auto;

        li {
            margin-bottom: 10px;
            padding: 5px;
            border-bottom: 1px solid #ccc;

            p {
                margin: 0;
            }

            small {
                color: #666;
            }
        }
    }
}

form {
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.235);
    box-sizing: border-box;
    background-color: #323232;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    color: white;

    span {
        margin-bottom: 5px;
    }
    
    .text {
        padding: 5px 10px;
        margin-bottom: 20px;
        border-radius: 3px;
    }
    
    .button {
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #f3d188;
        padding: 10px 20px;
        font-size: 1.4rem;
        font-weight: bold;
        border-radius: 3px;
        border: none;
        transition: 0.3s all;
        cursor: pointer;
    }
    
    .button:hover {
        filter: brightness(1.3);
    }
    
    .error {
        color: red;
    }
    
    #signup a {
        color: #f3d188a0;
        text-decoration: none;
        transition: 0.3s all;
        margin-left: 5px;
    }
    
    #signup a:hover {
        color: #f3d188;
    }

    .separator {
        text-align: center;
        margin: 10px 0;
        color: #ccc;
        border-bottom: 1px solid #555;
        line-height: 0.1em;
        margin: 10px 0 20px;
    }

    input[type="file"] {
        margin-top: 10px;
        color: white;
        background-color: #444;
        border: none;
        border-radius: 3px;
        padding: 5px;
    }
}
